In [15]:
# https://www.kaggle.com/terminus7/pokemon-challenge

import pandas as pd
import numpy as np
import datetime

from IPython.display import display

## Load data

In [3]:
combats = pd.read_csv('combats.csv')
pokemon = pd.read_csv('pokemon.csv', index_col=0)

In [4]:
# lets add dates to show some possibilities
startdate = datetime.datetime(2017, 1, 14)
random_dates = [startdate + 
                datetime.timedelta(np.random.randint(1, 365))
                for _ in range(combats.shape[0])]
combats['date'] = random_dates

In [5]:
combats.dtypes

First_pokemon              int64
Second_pokemon             int64
Winner                     int64
date              datetime64[ns]
dtype: object

In [6]:
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
combats.tail()

       First_pokemon  Second_pokemon  Winner       date
49995            707             126     707 2017-05-05
49996            589             664     589 2017-08-08
49997            303             368     368 2017-01-19
49998            109              89     109 2017-04-25
49999              9              73       9 2017-04-01

## DataFrame vs Series

In [8]:
# df
pokemon[['HP', 'Attack']].head()

   HP  Attack
#
1  45      49
2  60      62
3  80      82
4  80     100
5  39      52

In [9]:
# series
pokemon.HP.head() # or pokemon['HP'].head()

#
1    45
2    60
3    80
4    80
5    39
Name: HP, dtype: int64

In [11]:
# df
pokemon[['HP']].head()

   HP
#
1  45
2  60
3  80
4  80
5  39

## Basic statistics

In [12]:
pokemon.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [13]:
pokemon.mean() # median, std, quantile ...

HP            69.25875
Attack        79.00125
Defense       73.84250
Sp. Atk       72.82000
Sp. Def       71.90250
Speed         68.27750
Generation     3.32375
Legendary      0.08125
dtype: float64

In [14]:
pokemon.HP.quantile(q=0.9)

100.0

In [15]:
display(pokemon.isnull().head())
pokemon.isnull().sum()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,True,False,False,False,False,False,False,False,False

Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [16]:
pokemon[pokemon.Name.isnull()]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False

## Access data

In [17]:
display(pokemon.loc[1])
display(pokemon.iloc[0])

Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 1, dtype: object

Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 1, dtype: object

In [18]:
display(pokemon.loc[1, 'Name'])
display(pokemon.iloc[0, 0])
display(pokemon.iloc[0]['Name'])
display(pokemon.iloc[0].Name)

'Bulbasaur'

'Bulbasaur'

'Bulbasaur'

'Bulbasaur'

## Select data

In [19]:
pokemons_with_big_hp = pokemon.HP > pokemon.HP.quantile(q=0.9)

display(pokemons_with_big_hp.head())

display(pokemon[pokemons_with_big_hp].head())

#
1    False
2    False
3    False
4    False
5    False
Name: HP, dtype: bool

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
45,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
46,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
97,Muk,Poison,NaN,105,105,75,65,100,50,1,False
121,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False
122,Chansey,Normal,NaN,250,5,5,35,105,50,1,False

In [12]:
pokemons_with_big_hp_and_attack = (pokemon.HP > pokemon.HP.quantile(q=0.9)) & \
                                  (pokemon.Attack > pokemon.Attack.quantile(q=0.9))

display(pokemons_with_big_hp_and_attack.head())

display(pokemon[pokemons_with_big_hp_and_attack].head())

#
1    False
2    False
3    False
4    False
5    False
dtype: bool

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
121,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False
164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
165,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
271,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
314,Slaking,Normal,NaN,150,160,100,95,65,100,3,False

In [21]:
pokemon.query('HP > 100 & Attack > 100').head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
97,Muk,Poison,NaN,105,105,75,65,100,50,1,False
121,Rhydon,Ground,Rock,105,130,120,45,45,40,1,False
125,Mega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False
156,Snorlax,Normal,NaN,160,110,65,65,110,30,1,False
163,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True

## String data

In [22]:
pokemon[pokemon.Name.isnull()]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False

In [23]:
pokemon[pokemon.Name.str.endswith('aur', na=False)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [24]:
# are pokemons with similar naming are similar

In [14]:
pokemon.Name.str.slice(-3).value_counts().head(10)

rme    21
eon    13
ing    10
ile     9
ize     8
don     7
ill     7
ish     7
ite     7
ion     7
Name: Name, dtype: int64

In [26]:
pokemon['name_ending'] = pokemon.Name.str.slice(-3)

In [27]:
pokemon.Name.str.split().head()

#
1         [Bulbasaur]
2           [Ivysaur]
3          [Venusaur]
4    [Mega, Venusaur]
5        [Charmander]
Name: Name, dtype: object

In [28]:
pokemon['n_words_name'] = pokemon.Name.str.split().str.len()

In [29]:
pokemon.Name.str.split(expand=True).head()

            0         1     2
#
1   Bulbasaur      None  None
2     Ivysaur      None  None
3    Venusaur      None  None
4        Mega  Venusaur  None
5  Charmander      None  None

In [30]:
pokemon.Name.str.partition().head()

            0  1         2
#
1   Bulbasaur
2     Ivysaur
3    Venusaur
4        Mega     Venusaur
5  Charmander

In [87]:
string = 'x = a + b + c'
print(string.split('+'))
print(string.split('+', 1))
print(string.partition('+'))

print(string.rsplit('+', 1))
print(string.rpartition('+'))

['x = a ', ' b ', ' c']
['x = a ', ' b + c']
('x = a ', '+', ' b + c')
['x = a + b ', ' c']
('x = a + b ', '+', ' c')

In [31]:
pokemon.n_words_name.value_counts()

1.0    702
2.0     58
3.0     39
Name: n_words_name, dtype: int64

In [32]:
pokemon[pokemon.n_words_name == 3].head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
8,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,d X,3.0
9,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,d Y,3.0
164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,o X,3.0
165,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,o Y,3.0
429,Deoxys Normal Forme,Psychic,NaN,50,150,50,150,50,150,3,True,rme,3.0
431,Deoxys Defense Forme,Psychic,NaN,50,70,160,70,160,90,3,True,rme,3.0
432,Deoxys Speed Forme,Psychic,NaN,50,95,90,95,90,180,3,True,rme,3.0
459,Wormadam Plant Cloak,Bug,Grass,60,59,85,79,105,36,4,False,oak,3.0
460,Wormadam Sandy Cloak,Bug,Ground,60,79,105,59,85,36,4,False,oak,3.0
461,Wormadam Trash Cloak,Bug,Steel,60,69,95,69,95,36,4,False,oak,3.0

## Custom functions

In [33]:
pokemon[pokemon.Name.apply(lambda x: x.endswith('aur') if pd.notnull(x) else False)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,aur,1.0
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,aur,1.0
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,aur,1.0
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,aur,2.0

In [34]:
#  actually maybe a bit better way is

def check_ending(word, postfix):
    if pd.isnull(word):
        return False
    return word.endswith(postfix)


pokemon[pokemon.Name.apply(lambda x: check_ending(x, 'aur'))]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,aur,1.0
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,aur,1.0
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,aur,1.0
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,aur,2.0

In [36]:
from functools import partial

check_ending_aur = partial(check_ending, postfix='aur')
pokemon[pokemon.Name.apply(check_ending_aur)]

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,aur,1.0
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,aur,1.0
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,aur,1.0
4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,aur,2.0

In [37]:
display((pokemon.HP + pokemon.Attack).head())

display(pokemon.apply(lambda x: x.HP + x.Attack, axis=1).head())

#
1     94
2    122
3    162
4    180
5     91
dtype: int64

#
1     94
2    122
3    162
4    180
5     91
dtype: int64

## Dates

In [17]:
combats['month'] = combats.date.dt.month # week, our, dayofweek ... (look docs)
combats.head()

   First_pokemon  Second_pokemon  Winner       date  month
0            266             298     298 2017-05-15      5
1            702             701     701 2017-01-17      1
2            191             668     668 2017-08-15      8
3            237             683     683 2017-07-09      7
4            151             231     151 2017-08-21      8

In [18]:
current_date = pd.datetime.now()
combats['time_since_fight'] = current_date - combats.date
print(current_date)
combats.head()

2018-03-06 19:02:11.791552

,First_pokemon,Second_pokemon,Winner,date,month,time_since_fight
0,266,298,298,2017-05-15,5,295 days 19:02:11.791552
1,702,701,701,2017-01-17,1,413 days 19:02:11.791552
2,191,668,668,2017-08-15,8,203 days 19:02:11.791552
3,237,683,683,2017-07-09,7,240 days 19:02:11.791552
4,151,231,151,2017-08-21,8,197 days 19:02:11.791552

In [19]:
combats.dtypes

First_pokemon                 int64
Second_pokemon                int64
Winner                        int64
date                 datetime64[ns]
month                         int64
time_since_fight    timedelta64[ns]
dtype: object

In [20]:
combats.time_since_fight.dt.days.head()

0    295
1    413
2    203
3    240
4    197
Name: time_since_fight, dtype: int64

In [21]:
%%timeit
combats.time_since_fight.dt.days

428 ms ± 12.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [22]:
%%timeit
combats.time_since_fight.astype('timedelta64[D]')

# !!!!!!! much faster

785 µs ± 71.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## Sorting

In [23]:
pokemon.sort_values(by=['Sp. Atk', 'Sp. Def'], ascending=False).head(10)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
165,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
423,Primal Kyogre,Water,NaN,100,150,90,180,160,90,3,True
427,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
430,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
72,Mega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
713,Kyurem White Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
103,Mega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
307,Mega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
197,Mega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False

## Group By

In [51]:
pokemon.groupby(['Type 1']).agg({'HP': 'mean'}).round(2).sort_values(by='HP')

             HP
Type 1
Bug       56.88
Electric  59.80
Ghost     64.44
Steel     65.22
Rock      65.36
Dark      66.81
Poison    67.25
Grass     67.27
Fighting  69.85
Fire      69.90
Psychic   70.63
Flying    70.75
Ice       72.00
Water     72.06
Ground    73.78
Fairy     74.12
Normal    77.28
Dragon    83.31

In [52]:
# useless
pokemon.groupby('Type 1').head(1)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,aur,1.0
5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,der,1.0
10,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,tle,1.0
14,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,pie,1.0
21,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,gey,1.0
29,Ekans,Poison,NaN,35,60,44,40,54,55,1,False,ans,1.0
31,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,chu,1.0
33,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False,rew,1.0
41,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False,iry,1.0
62,Mankey,Fighting,NaN,40,80,35,35,45,70,1,False,key,1.0
69,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,bra,1.0
81,Geodude,Rock,Ground,40,80,100,30,30,20,1,False,ude,1.0
100,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False,tly,1.0
134,Jynx,Ice,Psychic,65,50,35,115,95,95,1,False,ynx,1.0
160,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False,ini,1.0
213,Umbreon,Dark,NaN,95,65,110,60,130,65,2,False,eon,1.0
224,Steelix,Steel,Ground,75,85,200,55,65,30,2,False,lix,1.0
703,Tornadus Incarnate Forme,Flying,NaN,79,115,70,125,80,111,5,True,rme,3.0

In [53]:
pokemon = pokemon.sort_values(by='Attack', ascending=False)
pokemon.groupby('Type 1').head(1)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name
#,,,,,,,,,,,,,
164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,o X,3.0
233,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,oss,2.0
425,Primal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,don,2.0
427,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,aza,2.0
388,Mega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,tte,2.0
455,Rampardos,Rock,NaN,97,165,60,65,50,58,4,False,dos,1.0
314,Slaking,Normal,NaN,150,160,100,95,65,100,3,False,ing,1.0
280,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,ken,2.0
142,Mega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,dos,2.0
394,Mega Absol,Dark,NaN,65,150,60,115,60,115,3,False,sol,2.0
751,Aegislash Blade Forme,Steel,Ghost,60,150,50,150,50,60,6,False,rme,3.0
499,Mega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,rio,2.0
512,Mega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,now,2.0
793,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,eas,1.0
525,Mamoswine,Ice,Ground,110,130,80,70,60,80,4,False,ine,1.0
518,Electivire,Electric,NaN,75,123,67,95,85,95,4,False,ire,1.0
703,Tornadus Incarnate Forme,Flying,NaN,79,115,70,125,80,111,5,True,rme,3.0
505,Toxicroak,Poison,Fighting,83,106,65,86,65,85,4,False,oak,1.0

In [24]:
pokemon.groupby(['Type 1', 'Type 2']).agg({'HP': 'mean'}).sort_values(by='HP', ascending=False)

                           HP
Type 1   Type 2
Ghost    Dragon    150.000000
Dragon   Ice       125.000000
Ghost    Flying    120.000000
Ground   Steel     110.000000
         Electric  109.000000
Psychic  Fire      100.000000
Rock     Ice       100.000000
Steel    Dragon    100.000000
Psychic  Grass     100.000000
Rock     Dark      100.000000
Ground   Fire      100.000000
Dragon   Electric  100.000000
Ground   Rock      100.000000
Dragon   Fire      100.000000
Water    Electric  100.000000
Normal   Fairy      99.600000
Fighting Dark       95.000000
Grass    Ground     95.000000
Dragon   Flying     94.333333
Dark     Flying     93.200000
Steel    Fighting   91.000000
Rock     Fighting   91.000000
Fire     Steel      91.000000
Water    Fighting   90.666667
Ice      Water      90.000000
Dragon   Ground     90.000000
Electric Dragon     90.000000
Fire     Psychic    90.000000
Water    Ice        90.000000
         Ground     87.100000
...                       ...
Bug      Grass      55.000000
Rock     Ground     55.000000
Dark     Steel      55.000000
Ice      Psychic    55.000000
Bug      Poison     53.750000
Electric Normal     53.000000
Steel    Fairy      52.333333
Rock     Water      51.500000
Electric Fire       50.000000
Dark     Ghost      50.000000
Rock     Steel      50.000000
Electric Ghost      50.000000
Poison   Water      50.000000
Electric Ice        50.000000
         Water      50.000000
Fighting Psychic    50.000000
Rock     Fairy      50.000000
Fire     Rock       50.000000
Ground   Psychic    50.000000
Electric Grass      50.000000
Ghost    Dark       50.000000
Grass    Fairy      50.000000
Ghost    Poison     48.750000
Electric Steel      48.333333
Bug      Rock       46.666667
         Ground     45.500000
Psychic  Fairy      43.666667
Bug      Water      40.000000
Poison   Bug        40.000000
Bug      Ghost       1.000000

[136 rows x 1 columns]

In [25]:
agg_funcs = {
    'HP': 'mean',
    'Name': 'count',
    'Attack': ['min', 'max', 'median'],
    'Speed': ['std', lambda x: x.sum()],
    'Defense': lambda x: np.percentile(x, 90)
}

pokemon_stats = pokemon.groupby(['Type 1', 'Type 2']).agg(agg_funcs).round(2)

pokemon_stats.head()

                   HP  Name Attack              Speed           Defense
                 mean count    min  max median    std <lambda> <lambda>
Type 1 Type 2
Bug    Electric  60.0     2     47   77   62.0  30.41      173     59.0
       Fighting  80.0     2    125  185  155.0   7.07      160    111.0
       Fire      70.0     2     60   85   72.5  28.28      160     64.0
       Flying    63.0    14     20  155   67.5  29.53     1160     97.2
       Ghost      1.0     1     90   90   90.0    NaN       40     45.0

## Index

In [56]:
print(pokemon_stats.columns)
print(pokemon_stats.index[:5])

MultiIndex(levels=[['HP', 'Name', 'Attack', 'Speed', 'Defense'], ['<lambda>', 'count', 'max', 'mean', 'median', 'min', 'std']],
           labels=[[0, 1, 2, 2, 2, 3, 3, 4], [3, 1, 5, 2, 4, 6, 0, 0]])
MultiIndex(levels=[['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water'], ['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock', 'Steel', 'Water']],
           labels=[[0, 0, 0, 0, 0], [3, 5, 6, 7, 8]],
           names=['Type 1', 'Type 2'])

In [57]:
pokemon_stats.sort_values(by=[('HP', 'mean')], ascending=False).head()

                    HP  Name Attack             Speed           Defense
                  mean count    min  max median   std <lambda> <lambda>
Type 1 Type 2
Ghost  Dragon    150.0     2    100  120  110.0  0.00      180    118.0
Dragon Ice       125.0     3    120  170  130.0  0.00      285     98.0
Ghost  Flying    120.0     2     50   80   65.0  7.07      150     43.0
Ground Steel     110.0     1    135  135  135.0   NaN       88     60.0
       Electric  109.0     1     66   66   66.0   NaN       32     84.0

## Joins

In [58]:
combats['Winner_first'] = combats.First_pokemon == combats.Winner
combats.head()

,First_pokemon,Second_pokemon,Winner,date,month,time_since_fight,Winner_first
0,266,298,298,2017-02-10,2,366 days 20:36:36.659580,False
1,702,701,701,2017-04-28,4,289 days 20:36:36.659580,False
2,191,668,668,2017-08-01,8,194 days 20:36:36.659580,False
3,237,683,683,2017-04-28,4,289 days 20:36:36.659580,False
4,151,231,151,2017-07-11,7,215 days 20:36:36.659580,True

In [59]:
pokemon['pokeindex'] = pokemon.index

In [60]:
display(pokemon.pokeindex.describe())

display(combats.First_pokemon.describe())

count    800.0000
mean     400.5000
std      231.0844
min        1.0000
25%      200.7500
50%      400.5000
75%      600.2500
max      800.0000
Name: pokeindex, dtype: float64

count    50000.000000
mean       400.495640
std        229.549429
min          1.000000
25%        203.000000
50%        399.000000
75%        597.250000
max        800.000000
Name: First_pokemon, dtype: float64

In [61]:
df = combats.merge(pokemon, left_on='First_pokemon', right_on='pokeindex')

In [62]:
df = df.merge(pokemon, left_on='Second_pokemon', right_on='pokeindex', suffixes=('_1', '_2'))

In [63]:
df.head()

,First_pokemon,Second_pokemon,Winner,date,month,time_since_fight,Winner_first,Name_1,Type 1_1,Type 2_1,...,Attack_2,Defense_2,Sp. Atk_2,Sp. Def_2,Speed_2,Generation_2,Legendary_2,name_ending_2,n_words_name_2,pokeindex_2
0,266,298,298,2017-02-10,2,366 days 20:36:36.659580,False,Larvitar,Rock,Ground,...,70,40,60,40,60,3,False,eaf,1.0,298
1,73,298,298,2017-10-31,10,103 days 20:36:36.659580,False,Machop,Fighting,NaN,...,70,40,60,40,60,3,False,eaf,1.0,298
2,373,298,298,2017-11-02,11,101 days 20:36:36.659580,False,Whiscash,Water,Ground,...,70,40,60,40,60,3,False,eaf,1.0,298
3,536,298,536,2018-01-03,1,39 days 20:36:36.659580,True,Fan Rotom,Electric,Flying,...,70,40,60,40,60,3,False,eaf,1.0,298
4,368,298,368,2017-07-22,7,204 days 20:36:36.659580,True,Zangoose,Normal,NaN,...,70,40,60,40,60,3,False,eaf,1.0,298

In [65]:
df.columns

Index(['First_pokemon', 'Second_pokemon', 'Winner', 'date', 'month',
       'time_since_fight', 'Winner_first', 'Name_1', 'Type 1_1', 'Type 2_1',
       'HP_1', 'Attack_1', 'Defense_1', 'Sp. Atk_1', 'Sp. Def_1', 'Speed_1',
       'Generation_1', 'Legendary_1', 'name_ending_1', 'n_words_name_1',
       'pokeindex_1', 'Name_2', 'Type 1_2', 'Type 2_2', 'HP_2', 'Attack_2',
       'Defense_2', 'Sp. Atk_2', 'Sp. Def_2', 'Speed_2', 'Generation_2',
       'Legendary_2', 'name_ending_2', 'n_words_name_2', 'pokeindex_2'],
      dtype='object')

In [66]:
df.groupby(['Type 1_1', 'Type 1_2']).agg({'Winner_first': ['mean', 'count']}
                                        ).sort_values(by=('Winner_first', 'mean'),
                                                      ascending=False)

                  Winner_first
                          mean count
Type 1_1 Type 1_2
Flying   Steel        1.000000     5
         Fighting     1.000000     7
Dark     Psychic      0.888889   144
         Fairy        0.864865    37
Electric Fairy        0.833333    66
Flying   Normal       0.833333    30
         Ground       0.833333    12
Ground   Electric     0.823529   119
Flying   Water        0.818182    33
         Grass        0.782609    23
Dragon   Steel        0.774648    71
Electric Ghost        0.761905   105
Normal   Fairy        0.752137   117
Fairy    Dragon       0.750000    36
Flying   Dragon       0.750000    12
Fire     Fairy        0.736842    76
Flying   Poison       0.727273    11
         Dark         0.727273    11
Dragon   Ground       0.726027    73
Electric Poison       0.725490   102
Poison   Fairy        0.725000    40
Grass    Fairy        0.723214   112
Ghost    Fighting     0.723077    65
Electric Ice          0.720930    86
Dark     Ghost        0.720588    68
Dragon   Fighting     0.716667    60
         Bug          0.715909   176
         Rock         0.715517   116
         Poison       0.712500    80
         Water        0.711191   277
...                        ...   ...
Fairy    Normal       0.238462   130
Steel    Electric     0.234694    98
         Dark         0.233766    77
Rock     Dragon       0.229167   144
Ice      Fire         0.228261    92
Bug      Electric     0.214912   228
Ice      Dragon       0.214286    56
Rock     Dark         0.213740   131
Fairy    Flying       0.200000     5
Rock     Flying       0.200000    10
Fairy    Electric     0.196970    66
Steel    Flying       0.187500    16
         Dragon       0.185714    70
Fire     Flying       0.181818    11
Fairy    Fire         0.166667    66
Bug      Flying       0.136364    22
Poison   Flying       0.111111     9
Dragon   Flying       0.100000    10
Ice      Flying       0.076923    13
Ghost    Flying       0.076923    13
Ground   Flying       0.000000     7
Poison   Steel        0.000000    58
Fighting Ghost        0.000000    66
Ghost    Normal       0.000000   239
Flying   Flying       0.000000     1
Normal   Ghost        0.000000   245
Fighting Flying       0.000000     3
Dragon   Fairy        0.000000    48
Electric Ground       0.000000    99
Psychic  Dark         0.000000   147

[324 rows x 2 columns]

## Concatenation

In [67]:
sample = df[['Type 1_1', 'Type 1_2', 'Winner_first']].copy()

In [68]:
sample_reverse = sample[['Type 1_2', 'Type 1_1', 'Winner_first']]
sample_reverse.columns = ['Type 1_1', 'Type 1_2', 'Winner_first']
sample_reverse['Winner_first'] = 1 - sample_reverse.Winner_first

In [70]:
sample_symmetric = pd.concat([sample_reverse, sample], axis=0)

In [71]:
sample_symmetric.groupby(['Type 1_1', 'Type 1_2']).agg({'Winner_first': ['mean', 'count']}
                                        ).sort_values(by=('Winner_first', 'mean'),
                                                      ascending=False)

                  Winner_first
                          mean count
Type 1_1 Type 1_2
Flying   Fighting     1.000000    10
Dark     Psychic      0.945017   291
Ground   Electric     0.903670   218
Flying   Ground       0.894737    19
Fairy    Dragon       0.892857    84
Ghost    Fighting     0.862595   131
Flying   Steel        0.857143    21
         Ghost        0.826087    23
         Dragon       0.818182    22
Electric Fairy        0.818182   132
Flying   Poison       0.800000    20
         Ice          0.800000    20
Dark     Fairy        0.795181    83
Dragon   Steel        0.794326   141
Flying   Bug          0.789474    38
Fire     Fairy        0.781690   142
Flying   Water        0.764706    68
Electric Ghost        0.761682   214
Steel    Poison       0.758333   120
Normal   Fairy        0.757085   247
Flying   Grass        0.750000    36
Dragon   Rock         0.746154   260
Flying   Dark         0.739130    23
Dark     Rock         0.735772   246
Electric Bug          0.733615   473
Psychic  Fairy        0.731884   138
Flying   Fairy        0.727273    11
         Fire         0.724138    29
Dark     Grass        0.722892   332
Electric Poison       0.721393   201
...                        ...   ...
Poison   Electric     0.278607   201
Grass    Dark         0.277108   332
Fire     Flying       0.275862    29
Fairy    Flying       0.272727    11
         Psychic      0.268116   138
Bug      Electric     0.266385   473
Rock     Dark         0.264228   246
Dark     Flying       0.260870    23
Rock     Dragon       0.253846   260
Grass    Flying       0.250000    36
Fairy    Normal       0.242915   247
Poison   Steel        0.241667   120
Ghost    Electric     0.238318   214
Water    Flying       0.235294    68
Fairy    Fire         0.218310   142
Bug      Flying       0.210526    38
Steel    Dragon       0.205674   141
Fairy    Dark         0.204819    83
Poison   Flying       0.200000    20
Ice      Flying       0.200000    20
Fairy    Electric     0.181818   132
Dragon   Flying       0.181818    22
Ghost    Flying       0.173913    23
Steel    Flying       0.142857    21
Fighting Ghost        0.137405   131
Dragon   Fairy        0.107143    84
Ground   Flying       0.105263    19
Electric Ground       0.096330   218
Psychic  Dark         0.054983   291
Fighting Flying       0.000000    10

[324 rows x 2 columns]

## Pivoting

In [72]:
pd.pivot_table(sample_symmetric,
               index='Type 1_1', 
               columns='Type 1_2',
               values='Winner_first',
               aggfunc='mean')

Type 1_2,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Type 1_1,,,,,,,,,,,,,,,,,,
Bug,0.500000,0.362460,0.283626,0.266385,0.610526,0.428044,0.330551,0.210526,0.455056,0.518325,0.477612,0.488136,0.386492,0.466049,0.424149,0.457906,0.470588,0.460963
Dark,0.637540,0.500000,0.516779,0.447619,0.795181,0.504854,0.510040,0.260870,0.669014,0.722892,0.608108,0.680672,0.547475,0.664000,0.945017,0.735772,0.673203,0.644231
Dragon,0.716374,0.483221,0.500000,0.544944,0.107143,0.674797,0.567460,0.181818,0.686275,0.690096,0.693431,0.689655,0.574113,0.687861,0.536232,0.746154,0.794326,0.715753
Electric,0.733615,0.552381,0.455056,0.500000,0.818182,0.687151,0.599388,0.312500,0.761682,0.666667,0.096330,0.711656,0.618343,0.721393,0.566351,0.713287,0.710900,0.698457
Fairy,0.389474,0.204819,0.892857,0.181818,0.500000,0.338710,0.218310,0.272727,0.451613,0.290640,0.292683,0.400000,0.242915,0.298701,0.268116,0.407143,0.373134,0.311526
Fighting,0.571956,0.495146,0.325203,0.312849,0.661290,0.500000,0.351852,0.000000,0.137405,0.562963,0.491935,0.591398,0.440181,0.563910,0.368644,0.680412,0.603448,0.453390
Fire,0.669449,0.489960,0.432540,0.400612,0.781690,0.648148,0.500000,0.275862,0.643443,0.703839,0.518797,0.683673,0.541231,0.671111,0.479911,0.603352,0.685345,0.584318
Flying,0.789474,0.739130,0.818182,0.687500,0.727273,1.000000,0.724138,0.500000,0.826087,0.750000,0.894737,0.800000,0.721311,0.800000,0.600000,0.666667,0.857143,0.764706
Ghost,0.544944,0.330986,0.313725,0.238318,0.548387,0.862595,0.356557,0.173913,0.500000,0.492877,0.465409,0.504065,0.506198,0.572414,0.449827,0.615385,0.550633,0.468000
Grass,0.481675,0.277108,0.309904,0.333333,0.709360,0.437037,0.296161,0.250000,0.507123,0.500000,0.490566,0.418033,0.399390,0.435216,0.373418,0.568465,0.503650,0.498344
Ground,0.522388,0.391892,0.306569,0.903670,0.707317,0.508065,0.481203,0.105263,0.534591,0.509434,0.500000,0.483607,0.489407,0.617450,0.503650,0.641921,0.622951,0.530648
Ice,0.511864,0.319328,0.310345,0.288344,0.600000,0.408602,0.316327,0.200000,0.495935,0.581967,0.516393,0.500000,0.394521,0.494949,0.375000,0.489011,0.470588,0.471910
Normal,0.613508,0.452525,0.425887,0.381657,0.757085,0.559819,0.458769,0.278689,0.493802,0.600610,0.510593,0.605479,0.500000,0.638889,0.452528,0.605572,0.578199,0.605758
Poison,0.533951,0.336000,0.312139,0.278607,0.701299,0.436090,0.328889,0.200000,0.427586,0.564784,0.382550,0.505051,0.361111,0.500000,0.388889,0.608247,0.241667,0.453668
Psychic,0.575851,0.054983,0.463768,0.433649,0.731884,0.631356,0.520089,0.400000,0.550173,0.626582,0.496350,0.625000,0.547472,0.611111,0.500000,0.629213,0.551971,0.616022
Rock,0.542094,0.264228,0.253846,0.286713,0.592857,0.319588,0.396648,0.333333,0.384615,0.431535,0.358079,0.510989,0.394428,0.391753,0.370787,0.500000,0.480447,0.409750
Steel,0.529412,0.326797,0.205674,0.289100,0.626866,0.396552,0.314655,0.142857,0.449367,0.496350,0.377049,0.529412,0.421801,0.758333,0.448029,0.519553,0.500000,0.382294
Water,0.539037,0.355769,0.284247,0.301543,0.688474,0.546610,0.415682,0.235294,0.532000,0.501656,0.469352,0.528090,0.394242,0.546332,0.383978,0.590250,0.617706,0.500000

## Categorial data

### cut

In [73]:
pokemon['HP_category'] = pd.cut(pokemon.HP, bins=5)
pokemon.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_ending,n_words_name,pokeindex,HP_category
#,,,,,,,,,,,,,,,
164,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,o X,3.0,164,"(102.6, 153.4]"
233,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,oss,2.0,233,"(51.8, 102.6]"
425,Primal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,don,2.0,425,"(51.8, 102.6]"
427,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,aza,2.0,427,"(102.6, 153.4]"
430,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True,rme,2.0,430,"(0.746, 51.8]"

In [74]:
pokemon.groupby('HP_category').Attack.mean()

HP_category
(0.746, 51.8]      55.707547
(51.8, 102.6]      85.670498
(102.6, 153.4]    105.800000
(153.4, 204.2]     77.000000
(204.2, 255.0]      7.500000
Name: Attack, dtype: float64

### get dummies

In [77]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [76]:
pokemon_type_cats = pd.get_dummies(pokemon, columns=['Type 1'], prefix='type')
pokemon_type_cats.head()

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,type_Ghost,type_Grass,type_Ground,type_Ice,type_Normal,type_Poison,type_Psychic,type_Rock,type_Steel,type_Water
#,,,,,,,,,,,,,,,,,,,,,
164,Mega Mewtwo X,Fighting,106,190,100,154,100,130,1,True,...,0,0,0,0,0,0,1,0,0,0
233,Mega Heracross,Fighting,80,185,115,40,105,75,2,False,...,0,0,0,0,0,0,0,0,0,0
425,Primal Groudon,Fire,100,180,160,150,90,90,3,True,...,0,0,1,0,0,0,0,0,0,0
427,Mega Rayquaza,Flying,105,180,100,180,100,115,3,True,...,0,0,0,0,0,0,0,0,0,0
430,DeoxysAttack Forme,NaN,50,180,20,180,20,150,3,True,...,0,0,0,0,0,0,1,0,0,0

In [78]:
gen_stats = pokemon_type_cats.groupby('Generation').agg({'type_Ghost': 'mean',
                                                         'type_Grass': 'mean',
                                                         'type_Ground': 'mean',
                                                         'type_Ice': 'mean',
                                                         'type_Psychic': 'mean',
                                                         'Name': 'count'}
                                                       )
gen_stats

            type_Ghost  type_Grass  type_Ground  type_Ice  type_Psychic  Name
Generation
1             0.024096    0.078313     0.048193  0.012048      0.066265   165
2             0.009434    0.084906     0.028302  0.037736      0.066038   106
3             0.031250    0.081250     0.043750  0.043750      0.075000   160
4             0.057851    0.123967     0.033058  0.024793      0.066116   121
5             0.030303    0.090909     0.060606  0.036364      0.084848   165
6             0.121951    0.060976     0.000000  0.024390      0.060976    82

## Numpy connection

In [79]:
pokemon.values

array([['Mega Mewtwo X', 'Psychic', 'Fighting', ..., 3.0, 164,
        Interval(102.59999999999999, 153.40000000000001, closed='right')],
       ['Mega Heracross', 'Bug', 'Fighting', ..., 2.0, 233,
        Interval(51.799999999999997, 102.59999999999999, closed='right')],
       ['Primal Groudon', 'Ground', 'Fire', ..., 2.0, 425,
        Interval(51.799999999999997, 102.59999999999999, closed='right')],
       ...,
       ['Shuckle', 'Bug', 'Rock', ..., 1.0, 231,
        Interval(0.746, 51.799999999999997, closed='right')],
       ['Chansey', 'Normal', nan, ..., 1.0, 122,
        Interval(204.19999999999999, 255.0, closed='right')],
       ['Happiny', 'Normal', nan, ..., 1.0, 489,
        Interval(51.799999999999997, 102.59999999999999, closed='right')]], dtype=object)

## Saving

In [80]:
gen_stats.to_csv('generation_stats.csv', index=False)